@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  display: flex;
  justify-content: space-around;
}

.link {
  list-style: none;
  text-decoration: none;
  margin: 10px;
}

h1 {
  text-align: center;
}

input {
  border: 1px solid;
  border-color: white;
}

button {
  background-color: blueviolet;
  color: white;
  padding: 5px;
}
